.CommunityContainer{
    display: flex;    
    
}

.CommunityItem{
    margin-top: 120px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-right: 120px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    
}

#contact-logo{
    margin-top: 100px;
}

.CommunityForm{
    margin-top: 100px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    margin-right: 120px;
    height: 350px;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
}



#twitter-item{
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 35px;

}

#medium-item{
    margin-top: 10px;
    width: 750px;
    height: 250px;
    padding-right: 0;
}

#mail-input{
    height: 20px;
    width: 200px;
    border-radius: 5px;
}

#text-input{
    width: 400px;
    height: 100px;
    resize: none;
}

#submit-btn{
    margin-top: 10px;
    width: 200px; 
    height: 25px;
    border-radius: 10px;
    font-family: monospace;
    font-weight: bold;
    color:white;
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    cursor: pointer;
}

#submit-btn:hover{
    transform: scale(110%);
}



@media  screen and (max-width: 1500px){
    .CommunityForm{
        margin-top: 100px;
        padding: 35px;
        background-color: rgba(255, 255, 255, 0.3);
        margin-right: 120px;
        height: 250px;
        width: 600px;
        font-family: 'Courier New', Courier, monospace;  
    }

    .CommunityForm h2, h5, textarea, input{
        margin-top: -20px;
        padding-top: 5px;
        resize: none;
    }
    #text-h5{
        margin-top: 1px;
    }

  
    #twitter-item{
        margin-top: 50px;
        width: 500px;
        height: 300px;
    
    }
    
  }