
.ContactContainer{

    display: flex;
    justify-content: center;
}


.CommunityContainer{
    display: flex;    
    width: auto;
    
}

.CommunityItem{
    margin-top: 120px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    margin-right: 120px;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    
}

.CommunityItem:hover{
    background-color: rgba(56, 59, 99, .90);
}

#contact-logo{
    margin-top: 100px;
}

.CommunityForm{
 
    margin-top: 100px;
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: 4px 4px 4px black;
    margin-right: 120px;
    height: 40vh;
    width: 600px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 15px;
}

.CommunityForm:hover{
    background-color: rgba(56, 59, 99, .90);
}



#twitter-item{
    margin-top: 50px;
    padding-left: 5px;
    padding-right: 35px;

}


#medium-item{
    margin-top: 10px;
    width: 750px;
    height: 250px;
    padding-right: 0;
}


#mail-input{
    height: 20px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(56, 59, 99, .90);
    padding-left: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#text-input{
    width: 400px;
    height: 200px;
    border-radius: 4px;
    border-style: none;
    resize: none;
    box-shadow: 4px 4px 4px rgba(56, 59, 99, .90);
    padding: 15px;
}

#submit-btn{
    margin-top: 35px;
    width: 250px; 
    height: 35px;
    border-radius: 10px;
    font-family: monospace;
    font-weight: bold;
    color:white;
    background-color: rgba(25, 255 ,255,0.5);
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(56, 59, 99, .90);
}

#submit-btn:hover{
    transform: scale(110%);
}



@media  screen and (max-width: 1500px){
    .CommunityForm{
        margin-top: 100px;
        padding: 35px;
        background-color: rgba(255, 255, 255, 0.3);
        margin-right: 120px;
        height: 40vh;
        width: 600px;
        font-family: 'Courier New', Courier, monospace;  
    }

    .CommunityForm h2, h5, textarea, input{
        margin-top: -20px;
        padding-top: 5px;
        resize: none;
    }
    #text-h5{
        margin-top: 1px;
    }

  
    #twitter-item{
        margin-top: 50px;
        width: 500px;
        height: 300px;
    
    }
    
  }

  @media screen and (max-width: 900px) {
    


    .CommunityForm{
        background-color: rgba(255, 255, 255, 0.15);
        height: 50vh;
        font-family: 'Courier New', Courier, monospace;  
        box-shadow: 1px 1px 5px  rgb(90, 149, 238);
        margin: 5px;
        margin-top: 250px;
        padding-bottom: -5px;
    }

    h2{
        margin:25px;
    }

    #twitter-text{
        width: 75%;
        margin-bottom: 100px;
        padding: 45px;
        box-shadow: 1px 1px 5px  rgb(90, 149, 238);
    }


    #text-input{
        width: 75%;
        margin:5px;
        
    }
    #twitter-item{
      width: auto;  
      padding: 15px;
      box-shadow: 1px 1px 5px  rgb(90, 149, 238);
    }

    #medium-item{
        width: 85%;
        padding: 25px;
        margin-bottom: 150px;
        box-shadow: 1px 1px 5px  rgb(90, 149, 238);
    }
  }