.TokenInfo{
    position: absolute;
    left:0;
    top:110px;
    width: 35%;
    border-radius: 15px;
    padding:10px;
    margin-left: 45px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.3);
    line-height: 20px;
}

.TokenInfo:hover{
    background-color: rgba(0, 0, 0, 0.5);
}

.ChartInfo{
    position: relative;
    top:100px;
    right:100px;
    padding-top: 35px;
    width: 100%;
    margin-left: 100vh;
}

.TokenInfo h2{
    margin-top: 10px;
}

.TokenInfo p {
    font-size: large;
}
.TokenInfo a {
    
    background: rgba(255, 255,255, 0.5);
    border-radius: 50px;
    width: 150px;
    justify-content: center;

}

.TokenInfo a:hover{
    transform: scale(110%);
    border-color: aqua;
}


@media screen and (max-width: 1500px) {

    .TokenInfo{
        position: absolute;
        left:0;
        top:150px;
        width: 45%;
        border-radius: 15px;
        padding:10px;
        margin-left: 20px;
        margin-top: 1px;
        background: rgba(255, 255, 255, 0.3);
        animation: 1s ease-out 3s 1 slideInFromRight;
        line-height: 15px;
    }

    .TokenInfo a {
    
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        width: 150px;
        height: 25px;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 900px) {

    .TokenInfo{
    
        background: rgba(255, 255, 255, 0.3);
        animation: 1s ease-out 3s 1 slideInFromRight;
        line-height: 15px;
        display: block;
        position: relative;
        margin-top: 100px;
    }

    .logo-container{
        margin-top: -200px;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 5px;
      }
    
      .copyright-dnt{
        bottom:-600px;
      }

}


@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
      
    }
  }
