.TokenInfo{
    position: absolute;
    top:135px;
    right: 200px;
    border-radius:8px;
    padding:10px;
    margin-left: 45px;
    margin-top: 20px;
    background: hsl(10 0% 50% / 0.2);
    line-height: 20px;
    padding: 35px;
    box-shadow: 4px 4px 4px black;
    z-index: 10000;
    width: 30%;
}

.flex-container-token p{
    display: none;
}

.flex-container-token #TokenInfo:hover p{
    display: block;
    
}

.TokenInfo:hover{
    background: linear-gradient(  rgba(68, 150, 243, 0.3), 
    rgb(44, 162, 241,0.15),
    rgba(123, 226, 26, 0.175))
}

.ChartInfo{
    padding: 100px;
}

.Piechart p{
    color: aliceblue;
}

.TokenInfo h2{
    margin-top: 10px;
}

.TokenInfo p {
    font-size: medium;
    text-shadow: 1px 2px 2px black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 1.5px;

}
.TokenInfo a {
    
    background: rgba(255, 255,255, 0.5);
    border-radius: 50px;
    width: 150px;
    justify-content: center;

}

.TokenInfo a:hover{
    transform: scale(110%);
    border-color: aqua;
}


@media screen and (max-width: 1500px) {

    .TokenInfo{
        position: absolute;
        display: block;
        width: 35%;
        border-radius: 15px;
        padding:0px;
        background: rgba(255, 255, 255, 0.2);
        line-height: 15px;
        margin-left: 35px;
        margin-top: 35px;
        font-size: small;

    }
    .TokenInfo p{
        margin: 0;
        padding: 5px;   
    }
    .TokenInfo a {
    
        background: rgba(0, 0, 0, 0.4);
        border-radius: 50px;
        width: 150px;
        height: 25px;
        display:flex;
        left:0;
        align-items: center;
        margin: 0;
        padding: 5px;
        margin-left: 30%;
        margin-bottom: 5px;
    }

    .ChartInfo{
        top:35px;
        right:150px;
    }
}


@media screen and (max-width: 900px) {

    .TokenInfo{
        background-color: rgba(255, 255, 255, 0.15);
        width: 90%;
        position: absolute;
        left:0px;
        top:120px;
        margin: 10px;
        padding: 12px;
        box-shadow: 4px 4px 4px rgb(90, 149, 238);
    }

    .TokenInfo h1{
        line-height: 35px;
    }

    .TokenInfo a{
        background: rgba(56, 59, 99, 1);
    }

    .TokenInfo p{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 300;
        letter-spacing: 1.5px;
        line-height: 1em;
        
    }

    .ChartInfo{
        position: absolute;
        width: 100%;
        margin-top: 1000px;
        display: none;
    }

 


    .logo-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        padding: 5px;
        width: 100%;
        overflow: hidden
        ;
      }
    
      .copyright-dnt{   
        
        
      }

}


@keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
      
    }
  }
